.points__chooser {
	font-family: 'Bebas Neue', sans-serif;
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
    .points__chooser-variants {
    	padding-bottom: 20px;
    	border-bottom: 1px solid #000000;
    }
    .points__chooser-title {
    	font-size: 30px;
    	text-align: center;
    	margin-bottom: 20px;
    }
    .points__variant {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
		border-radius: 5px;
		border: none;
		background-color: #ffffff;
		padding: 0 15px;
		margin-bottom: 10px;
		height: 60px;
		border: 1px solid #e8e8e8;
		cursor: pointer;
		outline: none;
		.points__variant-price {
			color: #fe255a;
			font-family: 'Bebas Neue', sans-serif;
			font-size: 20px;
		}
		.points__variant-points {
			color: #000000;
			font-family: 'Roboto Medium', sans-serif;
			font-size: 20px;
		}
		&.active {
			background-color: #000000;
			span {
				color: #ffffff;
			}
		}
		&:hover {
			background-color: #fe255a;
			span {
				color: #ffffff;
			}
  		}
    }
}
@media (min-width: 768px) {
	.points__chooser {
		width: 33%;
		margin: 0;
		padding-top: 20px;
		padding-right: 20px;
		.points__chooser-variants {
			border-bottom: none;
		}
		.points__chooser-title {
			text-align: left;
		}
		.points__variant {
			margin: 0;
			margin-bottom: 10px;
		}
	}
}
@media (min-width: 1280px) {
	.points__chooser {
		width: 50%;
	}
}